@import url("https://unpkg.com/@picocss/pico@1.*/css/pico.min.css");

body {
  background-color: #3B4252;
  text-align: left;
  display: block;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: aliceblue;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    font-size: medium;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: left;
} 
  li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
  }
 p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
 }
 code {
  font-family: "FiraCode Nerd Font", monospace;
 }
 blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
table {
  text-align: center;
  border: 1px solid;
  display: block;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: right;
  margin-left: 10px;
  margin-right: 20px; 
}
ul {
  border: medium solid #ddd;
  list-style-type: circle;
  color: #ddd;
}